* {
    background-color: #F4CC70;
    font-family: helvetica;
}

h1 {

    /*background-color: black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
    background-image: -webkit-linear-gradient(top, black, white);
    background-image: -moz-linear-gradient(top, black, white);
    background-image: linear-gradient(to bottom, black, white);*/
}

p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #34675C;
}

.list {
    font-size: 16pt;
    font-style: bold;
}

#flurps {
    font-family: cursive;
    font-stretch: extra-expanded;
}