* {
    background-color: sandybrown;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 80%;
}

h1 {
    font-style: italic;
    background-color: black;
    color: white;
}

#top-header {
    vertical-align: center;
    margin: 20px;
}

p {
    font-size: 15pt;
    background-color: gray;
    line-height: 120%;
    padding: 10px;
}

div {
    margin: auto;
    padding: 20px;
}



.list {
    font-size: 14pt;
}

#bands {
    font-stretch: extra-expanded;
}